extends layout

block jquery
    script(src='/jquery/jquery.js')
    script(src='/js/notify.js')

block angular
    script(src='/angular/angular.js')
    script(src='/angular/resource/angular-resource.js')
    script(src='/js/app.js')
    script(src='/js/controllers.js')
    script(src='/js/services.js')

block bootstrap
    script(src='/bootstrap/js/bootstrap.js')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')

block nav
    div(ng-controller='OpenProfilesCtrl')
        ul(role="tablist").nav.nav-tabs
            li(role="presentation").active
                a(id="profile-list-tab", href="#profile-list", aria-controls="profile-list", role="tab", data-toggle="tab") Manage Profiles
            li(role="presentation", ng-repeat='profile in openProfiles')
                a(href="#profile", aria-controls="profile", role="tab", data-toggle="tab", ng-click="open(profile.id)") [{{profile.id}}] {{profile.name}}

block profile-list
    div(ng-controller='ProfileListCtrl', id="profile-list", role="tabpanel").tab-pane.active
        h2 Profiles
        div.row
            div.col-lg-1
                button(ng-click='openProfiles()').btn.btn-default Open Selected
            div.col-lg-1
                button(ng-click='deleteSelected()', ng-disabled='numSelected() == 0').btn.btn-danger Delete Selected
            div.col-lg-2
                div(ng-class="{'has-success': validId(copyProfileId)}").input-group
                    input(placeholder='New Profile ID', ng-model='copyProfileId', maxlength="4").form-control
                    span.input-group-btn
                        button(ng-click='copySelected()', ng-disabled='numSelected() != 1 || !validId(copyProfileId)').btn.btn-primary Copy To
            div.col-lg-2
                button(ng-click='loadProfiles()').btn.btn-default Refresh Profiles
        div(style="margin-top:20px").row
            form(ng-submit='addProfile()')
                table.table
                    tr
                        th Select
                        th Profile ID
                        th Name
                        th Controls
                    tr(ng-repeat="profile in profiles | orderBy: 'id' track by $index ", ng-class="{ active: profile.selected }")
                        td
                            input(type='checkbox', ng-model='profile.selected')
                        td {{profile.id}}
                        td {{profile.name}}
                        td
                    tr
                        td
                        td
                            div(ng-class="{'has-success': validId(profileId)}").input-group
                                label(for='profile-id').sr-only Profile ID
                                input(type='text', name='profile-id', ng-model='profileId', placeholder='Profile ID', maxlength="4").form-control
                        td
                            div(ng-class="{'has-success': validName(profileName)}").input-group
                                label(for='profile-name').sr-only Profile Name
                                input(type='text', name='profile-name', ng-model='profileName', placeholder='Profile Name').form-control
                        td
                            button(type='submit', ng-disabled='!validId(profileId) || !validName(profileName)').btn.btn-success Create Profile

block profile
    div(ng-controller='ProfileCtrl', id="profile", role="tabpanel").tab-pane
        h2 Edit Profile
        div.row
            div.col-lg-1
                button(ng-click="close()").btn.btn-default Close Profile
            div.col-lg-2
                div(ng-class="{'has-success': validId(copyProfileId)}").input-group
                    input(placeholder='New Profile ID', ng-model='copyProfileId', maxlength="4").form-control
                    span.input-group-btn
                        button(ng-click='copySelected()', ng-disabled='true').btn.btn-primary Copy Selected To
            div.col-lg-1
                button(ng-click='deleteSelected()', ng-disabled='numSelected() == 0').btn.btn-danger Delete Selected
        div(style="margin-top:20px").row
            form(ng-submit='update()')
                table.table
                    tr
                        th Select
                        th Profile ID
                        th Name
                        th Controls
                    tr(ng-repeat="obj in configArray | orderBy: 'key'", ng-class="{ 'active': isSelected(obj.key) }")
                        td
                            input(type='checkbox', ng-checked="isSelected(obj.key)", ng-click="updateSelected($event, obj.key)")
                        td(ng-click="prefill(obj.key, obj.value)") {{obj.key}}
                        td {{obj.value}}
                        td
                    tr
                        td
                        td
                            div(ng-class="{ 'has-success': key.length > 0 }").input-group
                                label(for='key').sr-only Key
                                input(type='text', name='key', ng-model='key', placeholder='Key').form-control
                        td
                            div(ng-class="{ 'has-success': value.length > 0 }").input-group
                                label(for='value').sr-only Value
                                input(type='text', name='value', ng-model='value', placeholder='Value').form-control
                        td
                            button(type='submit', ng-disabled='key.length == 0 || value.length == 0').btn.btn-success Update






