doctype html
html(ng-app='profileApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block jquery
    block angular
    block bootstrap
  body
    block nav
    div.tab-content
      block profile-list
      block profile